<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 
<html> 
 <head> 
  <link rel="stylesheet" href="http://st.pimg.net/tucs/style.css" type="text/css" /> 
  <title>The CPAN Hubble Site<?pl if ($params->{q}) { ?> - [= $params->{q} =]<?pl } ?></title> 
 </head> 
 <body id="cpansearch"> 
<center><div style="margin-top: 0.5em;" class="logo"><a href="/"><font size=+3>CPAN Hubble</font></a><br>search CPAN &amp; Github</div></center> 
<div class="menubar"><small>&nbsp;Links to search.cpan.org:</small>
 <a href="/">Home</a> 
&middot; <a href="http://search.cpan.org/author/">Authors</a> 
&middot; <a href="http://search.cpan.org/recent">Recent</a> 
&middot; <a href="http://log.perl.org/cpansearch/">News</a> 
&middot; <a href="http://search.cpan.org/mirror">Mirrors</a> 
&middot; <a href="http://search.cpan.org/faq.html">FAQ</a> 
&middot; <a href="http://search.cpan.org/feedback">Feedback</a> 
</div> 
<form method="get" action="/search" name="f" class="searchbox"> 
<input type="text" name="q" value="[= $params->{q} || '' =]" size="35"> 
<br><input type="submit" value="CPAN Hubble Search"> 
</form> 

[== $content =]

<div class="footer">
Powered by <a href="http://search.cpan.org">search.cpan.org</a>, <a href="http://github.com">github.com</a>. <a href="http://github.com/kappa/app-cpanhubble">Opensource</a> software by <a href="http://search.cpan.org/~kappa/">Alex Kapranoff</a>. <a href="#XXX">Feedback</a>.
</div> 
</body> 
</html> 
